#fullpage {
	scroll-behavior: smooth;
}

video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	right: 0;
	bottom: 0;
}

.header-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	right: 0;
	bottom: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-in-out;
}
