@media only screen and (min-width: 640px) {
    .navlink {
        position: relative;
    }

    .navlink:hover {
        box-shadow: none !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .navlink::after {
        content: '';
        left: 0;
        bottom: 5px;
        position: absolute;
        height: 1.5px;
        width: 0;
        background-color: royalblue;
        transition: all 0.2s ease-in-out;
    }

    .navlink:hover::after {
        width: 100%;
    }
}

.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}

.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: #a0aec0;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.burger:hover .burger-lines,
.burger:hover .burger-lines:after,
.burger:hover .burger-lines:before {
    background-color: #2d3748;
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger.burger-rotate .burger-lines:after,
.burger.burger-rotate .burger-lines:before {
    width: 2em;
}

.burger.burger-rotate .burger-lines,
.burger.burger-rotate .burger-lines:after,
.burger.burger-rotate .burger-lines:before {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.burger.burger-rotate.open {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.burger.burger-rotate.open .burger-lines {
    background-color: transparent;
}

.burger.burger-rotate.open .burger-lines:before,
.burger.burger-rotate.open .burger-lines:after {
    left: 0.5em;
    top: 0px;
}

.burger.burger-rotate.open .burger-lines:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.burger.burger-rotate.open .burger-lines:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

button:active,
button:focus,
button:hover:active,
button:focus:hover {
    background-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}